# To be included by master Makefile
ifdef CALLEDBYMASTER
# Tell master about the targets
INSTALL_TARGETS+= install-kernel
HEADER_TARGETS+= install-kernel-headers
CLEAN_TARGETS+= clean-kernel

# Install kernel into sysroot
install-kernel: install-headers | sysroot/
	cd kernel && $(MAKE) install

# Install kernel headers into sysroot
install-kernel-headers: | sysroot/
	cd kernel && $(MAKE) install-headers

# Clean kernel
clean-kernel:
	cd kernel && $(MAKE) clean

endif
