# i386 kernel options
# Define location of arch-specific crti.o and crtn.o (used for calling global constructers)
ARCH_CRTI_OBJ=arch/$(BOOTARCH)/build/crti.o
ARCH_CRTN_OBJ=arch/$(BOOTARCH)/build/crtn.o

# List of arch-specific objects from the kernel
KERNEL_ARCH_OBJS=\
arch/$(BOOTARCH)/build/boot.o \
arch/$(BOOTARCH)/build/tty.o \
